name: Build macOS App
on:
  push:
    branches: [ main ]

jobs:
  package:
    runs-on: macos-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle' # ⚡ Esto acelera las futuras subidas

      - name: Dar permisos al ejecutable de Gradle
        run: chmod +x gradlew

      - name: Crear instalador DMG
        # ⚠️ Si tu módulo no se llama 'composeApp', cambia el nombre aquí abajo
        run: ./gradlew packageDmg

      - name: Guardar el instalador como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: CC3D-Mac-Installer
          # Usamos una ruta más flexible para encontrar el DMG
          path: "**/build/compose/binaries/main/dmg/*.dmg"